INFLUX_URL=http://a0d7b954-influxdb:8086
INFLUX_DATABASE=home_assistant
INFLUX_RETENTION_POLICY=one_year
INFLUX_MEASUREMENT=state
INFLUX_USERNAME=chatgpt_mcp
INFLUX_PASSWORD=replace-locally
INFLUX_VERIFY_TLS=true
MCP_HOST=0.0.0.0
MCP_PORT=8000
MCP_MAX_RANGE_DAYS=366
MCP_MAX_POINTS=5000

